#video{
    width:100%;
    height:500px;
    border: none;
}
#menu{
    position: fixed;
    width:100% ;
    background-color: rgb(255, 111, 59);
 float: left;
 padding: 15px;


}
li{
    float: left;
    padding: 10px;
    display: inline; 
    font-size: 30px; 
}